# Irrelevant folders
archive

# Python
__pycache__
.ipynb_checkpoints
.python-version
impress-gan

# Datasets
data/impressionist_landscapes

# Created files/folders
checkpoint
results
images
.gitignore